{% extends 'webapp/main.html' %}
{% block content %}

<style>
    h1 {
        text-align: center;
        margin: 10px 0 10px 0;
    }

    h3 {
        margin: 10px 0 10px 0;
    }

    p {
        margin-left: 10px;
    }

    ul {
        margin-left: 30px;
    }

    .div-elements {
        margin: 0 0 10px 20px;
    }
</style>

<article>
    <h1>COMMUNITY GUIDELINES</h1>
    <br>
    <p>Following Guidelines apply to all content on Storyfeed:</p>
    <br>
    <ul>
        <li>Never post nude or sexually explicit content. Post content that is appropriate for a diverse and wide
            range
            of audience.</li>

        <li>Never harass or bully. We have zero tolerance for harassment and bullying of any kind.
        </li>

        <li>Never threaten to harm a person, a group of people, or someone’s property. Encouraging violence is
            prohibited on Storyfeed.</li>

        <li>Don’t post contents of gratuitous violence, including animal abuse.</li>

        <li>We don’t allow the glorifications of self-harm, including the promotion of self-injury.</li>

        <li>Help us stay spam free. Foster genuine and meaningful interactions.</li>

        <li>Don’t pretend to be someone you are not - this includes your friends, celebrities, brands, or other
            organizations - or attempt to deceive people about who you are.</li>

        <li>Don’t post any content that demeans, defames or promotes descrimination or violence on the basis of race,
            ethnicity, national origin, religion, sexual orientation, gender identity, disability or veteran status.
        </li>

        <li>We prohibit malicious deception and deliberately spread false information that causes harm.</li>

        <li>Follow the law. Don’t use Storyfeed for any illegal activities - including to buy or sell illegal drugs,
            contraband, counterfeit goods or illegal weapons.</li>

        <li>Terrorist organizations are strictly prohibited from using our platform and we have no tolerance for content
            that advocates or advances terrorism.
        </li>
    </ul>

    <p>If you violate these Community Guidelines, we may remove the offending content, terminate your account and/or may
        notify the law enforcement. If your account has been terminated for violating Terms of Service or Community
        Guidelines, you may not use Storyfeed again. Please take these Guidelines seriously and honor them in the spirit
        in
        which they are intended to.</p>
</article>

{% endblock %}