{% extends 'webapp/main.html' %}
{% block content %}


<style>
    /* .article {
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
        text-align: justify;
        display: flex;
        flex-direction: column;
    } */

    h1 {
        text-align: center;
        margin: 10px 0 10px 0;
    }

    h3 {
        margin: 10px 0 10px 0;
    }

    p {
        margin-left: 10px;
    }

    ul {
        margin-left: 30px;
    }

    .div-elements {
        margin: 0 0 10px 20px;
    }
</style>


<article>

    <h1>PRIVACY POLICY</h1>
    <br>
    <p>Our products and services are linked to this privacy policy. So please read them carefully.</p>
    <br>

    <h3>1. Information We Collect</h3>
    <ul>
        <li>When you interact with our services, we collect information that you provide us such as your username, name,
            email, password and your profile picture. Also you provide us with other information such as your posts,
            comments you posted on the posts, or any other content you send through our services. Keep in mind that any
            user who views your posts, comments, profile or any other content can always save that content or copy it
            outside the app. So please don’t share content that you wouldn’t want someone to save or share.
        </li>

        <li>When you contact us for support or with feedback, or communicate with us in any other way, we will collect
            whatever information you volunteer or that we need to resolve your queries.</li>

        <li><b>Usage Information:</b> We collect information about how you interact with our product and services; the
            features you use, the posts you liked, or commented on, the accounts you follow, creation time of your
            account or any other content.</li>

        <li><b>Device Information:</b> We collect information about and from your device such as device unique
            identifiers, device authorization token for push notifications, device type, the hardware model, operating
            system version, timezone, device screen resolution, battery, information about your wireless and network
            connections, service provider, and IP addresses.
        </li>

        <li><b>Camera and Photos:</b> Our services are primarily driven by your camera and photos. For instance, you
            will not be able to upload posts unless we access your camera or photos.
        </li>
    </ul>
    <br>

    <h3>
        2. How We Use Your Information
    </h3>
    <p>
        With all the information we collect, we relentlessly work to provide you with an amazing set of products and
        services. Following are the ways we do that:

    </p>

    <ul>
        <li>Develop, maintain, deliver, improve, operate, and protect our product and services.</li>
        <li>Send you communications, including via email.</li>
        <li>Monitor and analyze trends and usage.</li>
        <li>Enhance your safety and safety of our product and services.</li>
        <li>Enforce our Terms of Service and other usage policies and comply with legal requirements.</li>
    </ul>
    <br>

    <h3>3. How We Share Your Information</h3>
    <p>Following are some of the ways we may share your information:</p>
    <ul>
        <li>We may share information about you with other users such as your username, name, the names of users you are
            following, contents you post.</li>
        <li>We may share it with our team to enhance our product and services.</li>
        <li>We may share your information with our business partners.</li>
    </ul>
    <br>

    <h3>4. How Long We Keep Your Information</h3>
    <ul>
        <li>Your post and associated number of likes and comments will be automatically deleted from our servers after
            they have expired.</li>
        <li>Reported contents or contents that violate our Terms of Service or any other policies, may be stored for a
            limited period of time to
            improve our product and services.</li>
        <li>Your username, name, total number of likes you've received from all your posts, email and any other personal
            information will be stored for a longer period of time
            unless you ask us to delete it for you or you delete your account.</li>
    </ul>
    <p>Keep in mind that, while our systems are designed to carry out deletion automatically, we cannot guarantee that
        it will take place in a timely manner or in a specific time frame. Also, we may retain certain information in
        backup for a limited period of time.
    </p>
    <br>

    <h3>5. Revisions To This Policy</h3>
    <p>We may change this policy from time to time. But when we do, we will give you an opportunity to review the
        revised policy before you continue to use our product and services.</p>

    <p><b>Revised: July 6, 2020</b></p>

</article>

{% endblock %}