{% extends 'webapp/main.html' %}
{% block content %}

<style>
    /* .article {
        margin-top: 100px;
        margin-left: 500px;
        margin-right: 500px;
        margin-bottom: 50px;
        text-align: justify;
        display: flex;
        flex-direction: column;
    } */

    h1 {
        text-align: center;
        margin: 10px 0 10px 0;
    }

    h3 {
        margin: 10px 0 10px 0;
    }

    p {
        margin: 10px 0 10px 0;
    }

    ul {
        margin-left: 30px;
    }

    .div-elements {
        margin: 0 0 10px 20px;
    }
</style>

<article>
    <h1>TERMS OF SERVICE</h1>
    <br>
    <h2>Welcome to Storyfeed!</h2>
    <br>
    <p>
        These Terms of Service (“Terms”) laid out below govern your relationship with Storyfeed Inc. They are a legally
        binding contract between you and Storyfeed Inc. So we urge you to
        read them carefully.
    </p>

    <p>
        By using Storyfeed, or any of our services that link to these Terms (collectively referred as “Services”), you
        agree to the Terms. If you do not agree with them, please don’t use the Services.
    </p>
    <br>

    <h3>1. Who Can Use The Services</h3>
    <div class="div-elements">
        <ul>
            <li>You must be 13 years or older to use the Services.
            </li>

            <li>You will comply with these Terms and all applicable local, state, national, international laws, rules
                and regulations.</li>

            <li>You can form a binding contract with Storyfeed Inc.</li>

            <li>You are not a convicted sex offender.</li>
        </ul>

    </div>
    <br>

    <h3>2. How You Cannot Use The Services</h3>
    <div class="div-elements">
        <ul>
            <li>You are not allowed to impersonate someone you
                aren’t, and you can’t create an account for someone else unless you have their permission to do so. You
                don’t need to disclose your identity, however you must provide us with accurate and up to date
                information (including registration information).</li>

            <li>You can’t post private or confidential information or do anything that violates someone else’s rights,
                including intellectual property.
            </li>

            <li>You can’t do anything unlawful, misleading, or fraudulent or use the Services for an illegal or
                unauthorized purpose.
            </li>

            <li>You can’t violate (or help or encourage others to violate) these Terms or <a
                    href="../community-guidelines/">Community Guidelines.</a>
            </li>

            <li>You can’t do anything to interfere with or impair the intended operation of the Services.
            </li>

            <li>You can’t use a domain name or URL in your username without our prior written consent.
            </li>

            <li>You can’t attempt to create accounts or collect information in unauthorized ways. Also, this includes
                creating accounts or collecting information in an automated way without our permission.
            </li>
        </ul>
    </div>

    <br>

    <h3>3. Rights We Grant You</h3>
    <div class="div-elements">
        <ul>
            <li>Storyfeed Inc. grants you a personal, royalty-free, non-assignable, non-exclusive, revocable, and
                non-sublicensable license to access and use the Services. The sole purpose of this license is for you to
                use and enjoy the Services’ benefits in a way that these Terms and <a
                    href="../community-guidelines/">Community Guidelines</a> allow.
            </li>
            <li>Any software that we provide you may automatically download and install upgrades, updates or other new
                features. You may adjust these automatic downloads through device settings. </li>

            <li>You may not copy, modify, reverse engineer, distribute or sell any part of the Services. Also, you may
                not attempt to extract the source code of that software, unless laws prohibit these restrictions or you
                have our written permission to do so.</li>
        </ul>
    </div>
    <br>

    <h3>4. Rights You Grant Us</h3>
    <p>As part of this agreement, you give us necessary permissions that we need in order to provide the Services.
    </p>

    <div class="div-elements">
        <ul>
            <li>We do not claim ownership of your content, but you grant us a license to use it. Absolutely nothing
                changes about your rights in your content. We do not claim ownership of any content you post on or
                through the Services. Instead, when you post or upload content on or in connections with our Services,
                you grant Storyfeed Inc. a non-exclusive, royalty-free, transferable, sub-licensable, worldwide license
                to host, use, distribute, modify, run, copy, adapt, publicly display or distribute, or create derivative
                works of your content. You can end this license anytime by deleting your content or account. This
                license is for the limited purpose of operating, developing, providing, promoting, and improving the
                Services and researching and developing new ones.</li>

            <li>Permissions to use your username, name, profile picture, and information about your relationships and
                actions
                with accounts. You grant us permission to show your username, profile picture and information about your
                actions (such as comments) or relationships (such as follows) in connection with accounts without any
                compensation to you.
            </li>

            <li>If you happen to select a username or similar identifier for your account, we may change it if we
                believe that it infringes someone’s intellectual property or impersonates another user.</li>

            <li>If you use content covered by intellectual property rights that we have and make available in our
                Services, we retain all rights to our content but not yours.</li>

            <li>We reserve the right to remove any content or information you share on the Services if we believe that
                it violates our Terms or <a href="../community-guidelines/">Community Guidelines</a>, or we are
                permitted or required to do so by law. We also
                reserve the right to refuse to provide the Services to you immediately to protect our community or
                Services, or if you create risk or legal exposure for us, violate these Terms or <a
                    href="../community-guidelines/">Community Guidelines</a>,
                if you repeatedly infringe other people’s intellectual property rights, or where we are permitted to do
                so by law. If we take action to disable or terminate your account, we will notify you.</li>

            <li>Content you delete or are expired may still persist for a limited period of time.</li>

            <li>We always love to hear from our users. But if you provide feedback or suggestions, just so you know, we
                can use them without compensating you, and without any restrictions or obligations to you.</li>
        </ul>
    </div>
    <br>

    <h3>5. Privacy</h3>
    <p>To learn more about privacy and how we handle them in our Services, please read our <a href="../privacy/">Privacy
            Policy.</a>
    </p>
    <br>

    <h3>6. Data Charges And Mobile Phones
    </h3>
    <p>You are responsible for any mobile charges that you may incur for using our Services, including data charges. If
        you’re not sure of what those charges are you should ask your service provider before using the Services.
    </p>
    <br>

    <h3>7. Disclaimers</h3>
    <p>We will try our best to keep our Services up and running and free of any annoyances. But we provide no guarantee
        that we will succeed.</p>
    <p><b> The Services are provided “as is“ and “as available” and to the extent permitted by law without warranties of
            any kind, either express or implies, including, but not limited to, implied warranties of merchantability,
            fitness for a particular purpose, title, and non-infringement. Besides, while we attempt to provide a good
            user experience, we do not represent or warrant that: (i) The Services will always be secure, error-free, or
            timely; (ii) The Services will always function without delays, disruptions, or imperfections; (iii) That any
            content, user content, or information you obtain on or through the Services will be timely or accurate.</b>
    </p>

    <p>Storyfeed Inc. takes no responsibility and assumes no liability for any content that you, another user, or a
        third party creates, posts, uploads on or through our Services. You understand and agree that you may be exposed
        to content that might be offensive, illegal, misleading or otherwise inappropriate, none of which Storyfeed Inc.
        will be responsible for.</p>

    <p>Through these Terms and our <a href="../community-guidelines/">Community Guidelines</a>, we make clear that we do
        not want the Services put to bad uses.
        But because we cannot review all the contents, we can’t promise that content on our Services will always confirm
        to our Terms.</p>
    <br>

    <h3>8. Limitation Of Liability</h3>
    <p><b>To the maximum extent permitted by law, Storyfeed Inc., our managing members, shareholders, employees,
            affiliates, licensors, agents, and suppliers will not be liable for any indirect, incidental, special,
            consequential, punitive, or multiple damages, or any loss of profits or revenues, whether incurred directly
            or indirectly, or any loss of data, goodwill or other intangible losses, resulting from: (a) Your access to
            or use of or inability to access or use the Services; (b) The conduct or content of other users or
            third-parties on or through the Services; or (c) Unauthorized access, use, or alteration of your content,
            even if Storyfeed Inc. has been advised of the possibility of such damages. In no event will Storyfeed
            Inc.’s aggregate liability for all claims relating to the Services.</b></p>

    <br>

    <h3>9. Updating Terms</h3>
    <p>We may change our Services and policies such as <a href="../community-guidelines/">Community Guidelines</a>, and
        we may be required to make changes to
        these Terms to accurately reflect our Services and policies. Unless and otherwise required by law, we will
        notify you through our Services before we make changes to these Terms and present you with an opportunity to
        review them before they go into effect. Then, if you continue to use the Services, you will be bound by the
        updated Terms. If you do not want to agree to the updated Terms, you can delete your account.</p>

    <br>
    <p><b>Revised: July 7, 2020</b></p>


</article>
{% endblock %}